.container-fluid {
    padding-left: 0;
}

/* Left Column Formatting */
.fixed-left {
    height: 100%;
    padding-left: 10px;
    left: 200px;
}

.left-column {
    padding-left: 20px;
    width: 30%;
    max-width: 300px;
    min-width: 100px;
}

.search {
    width: 95%;
}

.list-of-city-cards {
    margin-top: 30px;
    width: 90%;
    text-transform: capitalize;
}


.city-card:hover {
    background-color: lightgrey;
}

/* City Cards Main */
.city-card-main {
    width: 95%;
    background-image: linear-gradient(#6190E8, #A7BFE8);
    max-width: 600px;
}

.city-name {
    text-transform: capitalize;
}

.city-description {
    text-transform: capitalize;
}


.city-card-col {
    width: 70%;
    padding-left: 20px;
    padding-top: 30px;
}

.city-card-text {
    font-size: 22px;
}

.UV-Index {
    float:left;
    padding-right: 7px;
}


/* City Cards Daily */
.city-card-daily-col {
    margin-top: 10px;
}

.city-card-daily-body{
    background-image: linear-gradient(#43C6AC, #F8FFAE);
    min-width: 170px;
    margin-right: 10px;
}

.city-icon {
    float: left;
    width: 60px;
    padding-right: 10px;
}

/* Footer */
.footer {
    position: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
